<!DOCTYPE html>
<html>

<head>
    <title>competition?</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/65/65654.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="flexbox">
        <div class="col">

          <svg width="400" height="110">
            <rect width="160" height=rclicks style="fill:rgb(185, 0, 0); stroke-width:3;" x="30%"/>
          </svg>

            <button class="buttonstyle" id="r">
                Team R
            </button>
            {% if rclicks %}
            <span>{{ rclicks }}</span>
            {% else %}
            <span>Error no click val</span>
            {% endif %}
        </div>


        
        
        <div class="col">
            <svg width="400" height="110">
                <rect width="160" height=gclicks style="fill:rgb(125, 226, 127); stroke-width:3;" x="30%"/>
            </svg>
            <button class="buttonstyle" id="g">
                Team G
            </button>

            {% if gclicks %}
            <span>{{ gclicks }}</span>
            {% else %}
            <span>Error no click val</span>
            {% endif %}

        </div>

        

        <div class="col">
            <svg width="400" height="110">
                <rect width="160" height=bclicks style="fill:rgb(76, 151, 227); stroke-width:3;" x="30%"/>
            </svg>
            <button class="buttonstyle" id="b">
                Team b
            </button>

            {%if bclicks %}
            <span>{{ bclicks }}</span>
            {% else %}
            <span>Error no click val</span>
            {% endif %}
        </div>
    </div>
    <script>
        document.querySelectorAll(".buttonstyle").forEach(element => {
            element.addEventListener('click', async _ => {
                const id = element.id;
                console.log("clicked " + id)
                try {
                    const response = await fetch('/update', {
                        method: 'post',
                        body: JSON.stringify(id)
                    });
                    console.log('Completed!', response);
                } catch (err) {
                    console.error(`Error: ${err}`);
                }
            });
        });
    </script>

</html>