<!DOCTYPE html>
<html>

<head>
    <title>competition?</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/65/65654.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="title">Fight</div>
    <div class="bigbox">
        <div class="flexbox">
            <div class="col">
                <div class="spacer"> </div>
                <div class="rect" style="background-color: rgb(185, 0, 0); height: 49px;"></div>
                <div class="buttoncontainer">
                    <button class="buttonstyle" id="r">
                        Team R
                    </button>
                </div>
                {% if rclicks %}
                <div class="divdex" id="rval">{{ rclicks }}</div>
                {% else %}
                <div>Error no click val</div>
                {% endif %}
            </div>




            <div class="col">
                <div class="spacer"> </div>
                <div class="rect" style="height:10px;background-color:rgb(125, 226, 127)"></div>
                <div class="buttoncontainer">
                    <button class="buttonstyle" id="g">
                        Team G
                    </button>
                </div>
                {% if gclicks %}
                <div class="divdex" id="gval">{{ gclicks }}</div>
                {% else %}
                <div>Error no click val</div>
                {% endif %}
            </div>


            <div class="col">
                <div class="spacer"> </div>
                <div class="rect" style="height:10px;background-color:rgb(76, 151, 227)"></div>
                <div class="buttoncontainer"> 
                    <button class="buttonstyle" id="b">
                        Team B
                    </button>
                </div>
                {%if bclicks %}
                <div class="divdex" id="bval">{{ bclicks }}</div>
                {% else %}
                <div>Error no click val</div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll(".buttonstyle").forEach(element => {
            element.addEventListener('click', () => {
                const id = element.id;
                console.log("clicked " + id)
                try {
                    fetch('/update', {
                        method: 'post',
                        body: JSON.stringify({ "id": id })
                    }).then(response => response.json()).then(data => {
                        console.log(data)
                        document.querySelectorAll(".divdex").forEach(div => {
                            if (div.id == "rval") { div.innerHTML = data["r"] }
                            else if (div.id == "gval") { div.innerHTML = data["g"] }
                            else { div.innerHTML = data["b"] }
                            reloadBars()
                            console.log("updated")
                        })
                    });
                    console.log('Completed!', response);
                } catch (err) {
                    console.error(`Error:`);
                }
            });
        });

        function reloadBars() {
            rectIndex = 0;
            document.querySelectorAll(".rect").forEach(element => {
                divIndex = 0;
                document.querySelectorAll(".divdex").forEach(divs => {
                    if (rectIndex == divIndex) {
                        element.style.height = divs.innerHTML * 5 + "px";
                    }
                    divIndex++;
                })
                rectIndex++;
            });
            console.log("reload bars")
        }
        reloadBars()

    </script>
</body>

</html>