<!DOCTYPE html>
<html>

<head>
    <title>competition?</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/65/65654.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body
    style="background-color: rgb(147, 188, 226); height:100vh; display:flex; align-items:center; justify-content:center;">
    <style>
        .flexbox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 70px;
            border: 1px transparent rgba(216, 239, 216, 0);

        }

        .col {
            flex-direction: column;
        }

        .buttonstyle {
            height: 40px;font-family: 'Luminari'; font-size: large; border-color: rgb(79, 134, 236);
        }
    </style>

    <div class="flexbox">
        <div class="col">
            <button class="buttonstyle">
                Team R
            </button>
            
            {%if rclicks %}
            <span>There have been: {{ rclicks }}!</span>
            {% else %}
            <span>Error no click val</span>
            {% endif %}
        </div>

        
        <div class="col">
            <button class="buttonstyle">
                Team G
            </button>

            {%if gclicks %}
            <span>There have been: {{ gclicks }}!</span>
            {% else %}
            <span>Error no click val</span>
            {% endif %}

        </div>

        <div class="col">
            <button class="buttonstyle">
                Team b
            </button>
            
            {%if bclicks %}
            <span>There have been: {{ bclicks }}!</span>
            {% else %}
            <span>Error no click val</span>
            {% endif %}
        </div>
        </div>
    
</html>