<!DOCTYPE html>
<html>
    <head>
        <title>Clicking Junkie</title>
    </head>
    <body style="background-color: rgb(147, 188, 226);">
        <head>
            <!-- flex box -->
            <style>
                .center {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 70px;
                }
            </style>

            <h1 style="text-align:center; margin-top: 32vh; font-family: 'gamerfont'; color: rgb(79, 134, 236);">
                Welcome to the Clickers!
            </h1>
            
            <h2 style="text-align: center; margin-top: 35; font-family: 'gamerfont';color: azure;">
                Love competition? <br>
                Click the button to see more!
            </h2>
            <div class="center">
            <form action="/startgame" method="POST">
                <input type="text" id="gamename" name="gamename" value="gamename" style="text-align: center;"><br>
            </form>
            </div>

            <div class="center">
                <button style="height: 30px; font-family: 'gamerfont'; font-size: large; border-color: rgb(79, 134, 236);" type="submit" >
                    Go!
                </button>
            </div>
        </head> 
    </body>
</html>