<!DOCTYPE html>
<html>
    <head>
        <title>Clicking Junkie</title>
        <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/65/65654.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body style="background-color: rgb(147, 188, 226);">
        <head>
            <!-- flex box -->
            <style>
                .center {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 70px;
                }
            </style>

            <h1 style="text-align:center; margin-top: 32vh; font-family: 'gamerfont'; color: rgb(79, 134, 236);">
                Welcome to the Clickers!
            </h1>
            
            <h2 style="text-align: center; margin-top: 35; font-family: 'gamerfont';color: azure; line-height: 40px;">

                {% if error %}
                {{error}}
                {% else %}

                Love competition? <br>
                Click the button to see more!
                {% endif %}
            </h2>
            <div class="center">
            <form action="/startgame" method="POST" style="display:flex; align-items: center;">
                <label for="fname" style="text-align: center; font-family: 'gamerfont';color: rgb(79, 134, 236);">Game name:</label><br>
                <input type="text" id="gamename" name="gamename" style="text-align: center; align-content: center;"><br>
                <!-- <input type="text" id="gamename" name="gamename" value="gamename" style="text-align: center;"><br> -->
            </div>
            
            <div class="center">
                <button style="height: 40px; width: 80px; font-family: 'gamerfont'; font-size: large; color: rgb(79, 134, 236);" type="submit" >
                    Go!
                </button>
            </div>
        </form>
        </head> 
    </body>
</html>