<!DOCTYPE html>
<html>
    <head>
        <title>victory?</title>
        <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/65/65654.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <h1 style="text-align:center; margin-top: 32vh; font-family: 'gamerfont'; color: rgb(79, 134, 236);">
        Congratulations to {{winner}}! <br>
        Quite the obvious winners <br>
        Feel superior!
    
</html>